@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --regular-font: 'Poppins', sans-serif;
    --bg-color: #6C757D;
    --display-weight: 600;
    --primary-font-color: white;
    --secondary-font-color: #FFCF33;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--regular-font);
    color: var(--primary-font-color);
}

nav{
    background-color: var(--bg-color);
    height: 80px;
    width: 100%;
  }

nav img {
    size: 100px;
    padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: var(--secondary-font-color);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
label.logo{
    font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
}
@media (max-width: 858px){
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
}
a:hover,a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ ul{
    left: 0;
}
}
section{
background: url(bg1.jpg) no-repeat;
background-size: cover;
height: calc(100vh - 80px);
}


#home .navbar img {
    margin-top: 5vh;
    margin-left: 8vh;
}

#home .navbar {
    font: var(--regular-font);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 17vh;
    justify-content: space-between;
    margin-top: 10px;
}

#home .navbar #navstuffs{
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    font-size: 3vh;
    margin-right: 2vh;
    align-items: center;
}

#home .navbar #navstuffs a{
    color: var(--primary-font-color);
    text-decoration: none;
    transition: 0.5s;
}

#home .navbar #navstuffs a:hover {
    font-size: 4vh;
}

#home #box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#home #box1 .textmain{
    margin-top: 50px;
    margin-left: 159px;
    margin-right: 100px;
}

#home #box1 .textmain #name{
    line-height: 101px;
    font-size: 70px;
    font-weight: 600;
}

#home #box1 .textmain #text1{
    font-size: 50px;
    line-height: 76px;
    font-weight: 600;
    text-align: right;
}

#home #box1 .underline {
    background: #FFCF33;
    width: 100%;
    height: 10px;
}

#about {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-font-color);
    width: 100%;
    height: 100%;
    font-size: 35px;
    text-align: center;
}

#about .texts{
    margin: 30px;
    font-size: 30px;
}

#about #text2 {
    color: var(--secondary-font-color);
}

#projects #text3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 65px;
    line-height: 120px;
}

#projects{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#projects .topbox{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#projects .box{
    background-color: var(--secondary-font-color);
    height: 170px;
    width: 200px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.522);
    align-self: center;
    color:var(--primary-font-color);
    text-decoration: none;    
    transition: 0.5s;
}

#projects .topbox .box .h1{
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#projects .topbox a{
    text-decoration: none;
}

#projects .box .h1 span{
    font-size: 50px;
}

#projects .box:hover{
    height: 190px;
    width: 220px;
    font-size: 3vh;
}

#contacts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#contacts h1{
    line-height: 115.5px;
    font-weight: 600;
    font-size: 65px;
    text-align: center;
}

#contacts #logos{
    margin-top: 5vh;
    margin: 6vh;
    margin-left: 6vh;
    margin-right: 6vh;
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2vh;
}

#contacts #logos a{
    color: var(--secondary-font-color);
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    font-size: 2vh;
}

#contacts #logos a:hover {
    font-size: 2.5vh;
}

@media only screen and (min-width: 1900px) {

    #home .navbar img {
        margin-left: 25vh;
    }

    #home .navbar #navstuffs{
        margin-right: 10vh;
        margin-left: 30vh;
        justify-content: space-evenly;
        font-size: 3vh;
        transition: 0.5s;
    }
    
    #home .navbar #navstuffs a:hover {
        font-size: 4vh;
    }

    #home #box1 {
        margin-top: 10vh;
        width: 100%;
        justify-content: space-around;
        line-height: 170px;
        font-weight: 600;
        font-size: 99px;
    }

    #home #box1 .underline {
        background: #FFCF33;
        width: 100%;
        height: 10px;
    }

    #projects .topbox {
        justify-content: space-evenly;
    }

    #projects .box:hover{
        height: 200px;
        width: 230px;
        font-size: 2vh;
    }

    #contacts #logos{
        justify-content: space-evenly;
        width: 90%;
    }
    
    #contacts #logos a:hover {
        font-size: 2.5vh;
    }
}

@media only screen and (min-width: 412px) {
    body {
        width: 100%;
    }

    .navbar #navstuffs {
        
    }
}